.carrito-container {
  max-width: 900px;
  margin: 40px auto;
  padding: 20px;
}

.carrito-item {
  display: flex;
  gap: 20px;
  margin-bottom: 20px;
  padding: 15px;
  border-radius: 12px;
  background: white;
  box-shadow: 0 5px 15px rgba(0,0,0,0.08);
}

.carrito-item img {
  width: 120px;
  height: 120px;
  object-fit: cover;
  border-radius: 10px;
}

.info h3 {
  margin: 0;
}

.direccion-box {
  margin-bottom: 30px;
  padding: 20px;
  background: #f8f8f8;
  border-radius: 12px;
}

select, input {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 8px;
  border: 1px solid #ccc;
}

.btn-agregar,
.btn-guardar {
  padding: 8px 14px;
  background: #444;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

.btn-pagar {
  width: 100%;
  padding: 15px;
  font-size: 18px;
  background: linear-gradient(135deg, #00c853, #009624);
  color: white;
  border: none;
  border-radius: 12px;
  cursor: pointer;
  transition: 0.3s;
}

.btn-pagar:hover {
  transform: translateY(-2px);
  box-shadow: 0 5px 15px rgba(0,0,0,0.2);
}

.mensaje {
  background: #ffe0e0;
  padding: 10px;
  margin-bottom: 15px;
  border-radius: 8px;
}

/* MODAL */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.modal {
  background: white;
  padding: 30px;
  border-radius: 16px;
  width: 90%;
  max-width: 450px;
  text-align: center;
  animation: aparecer 0.3s ease;
}

.btn-cerrar-modal {
  margin-top: 20px;
  padding: 10px 20px;
  background: #222;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

.cantidad-control {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: 8px;
}

.btn-cantidad {
  width: 30px;
  height: 30px;
  border: none;
  background: #222;
  color: white;
  font-size: 18px;
  border-radius: 6px;
  cursor: pointer;
  transition: 0.2s;
}

.btn-cantidad:hover {
  background: #444;
}

.cantidad-control span {
  font-weight: 600;
  min-width: 20px;
  text-align: center;
}


@keyframes aparecer {
  from { opacity: 0; transform: scale(0.9); }
  to { opacity: 1; transform: scale(1); }
}

@media(max-width: 768px) {
  .carrito-item {
    flex-direction: column;
    align-items: center;
  }

  .carrito-item img {
    width: 100%;
    height: auto;
  }
}
